@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --azul: #00062C;
    --branco: #FFF9ED;
    --dourado: #B7954F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

/* Header */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--azul);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 200px;
    z-index: 999;
}

.logo-header {
    width: 148px;
    height: auto;
    object-fit: contain;
    cursor: pointer;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.item-nav {
    color: var(--branco);
    font-size: 16px;
    font-weight: 400;
    transition: all 0.3s ease;
}

.item-nav:hover {
    color: var(--dourado);
}

.btn {
    border: none;
    outline: none;
    background-color: var(--branco);
    font-size: 16px;
    font-weight: 400;
    padding: 10px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: transparent 2px solid;

}

.btn:hover {
    background-color: transparent;
    border: var(--dourado) 2px solid;
    transform: scale(1.05);
    color: var(--branco);
}

.btn img {
    transition: all 0.3s ease;
}

.btn:hover img {
    filter: brightness(1) invert(1);
}

.btn img {
    padding-left: 20px;
}

/* Main */

main {
    padding: 10vw 200px 5vw;

    h1 {
        font-size: 36px;
        font-weight: 600;
        margin-bottom: .5vw;
    }

    .filters {
        display: flex;
        flex-direction: row;
        gap: 6px;
        margin-bottom: 2vw;

        .filter {
            background-color: #D8D8D8;
            border-radius: 50px;
            padding: 7px 20px;
            cursor: pointer;
            border: none;
            outline: none;
            font-size: 14px;
            font-weight: 500;
        }

        .selected {
            background-color: #00062C;
            color: var(--branco);
            transition: 0.5s all ease;
        }
    }

    .items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;

        .item {
            border: 1px solid rgba(0, 0, 0, 0.4);
            border-radius: 10px;
            padding: 24px;
            width: 18vw;
            color: var(--azul);
            transition: 0.3s all ease;

            img {
                width: 15.5vw;
                height: 9vw;
                border-radius: 5px;
                object-fit: cover;
                object-position: center;
            }

            .title-item h3 {
                margin-top: 18px;
                font-size: 16px;
            }

            .title-item p {
                font-size: 12px;
                color: rgba(0, 6, 44, 0.63);
                margin-bottom: 15px;
            }

            .ul-item {
                color: rgba(0, 6, 44, 0.63);
                margin-left: 25px;
                font-size: 15px;
                margin-bottom: 28px;
            }

            .price-item h3 {
                font-size: 16px;
                font-weight: 700;
                margin-bottom: 12px;
            }

            .price-item button {
                border: 2px solid transparent;
                outline: none;
                background-color: var(--azul);
                color: var(--branco);
                padding: 10px 25px;
                width: 100%;
                cursor: pointer;
                border-radius: 5px;
                transition: all 0.3s ease;
            }

            .price-item button:hover {
                border-radius: 10px;
                background-color: var(--dourado);
            }
        }
    }
}

/* Footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #000317;
    color: var(--dourado);
    padding: 30px 200px;
}

footer>div,
footer>a {
    flex: 1;
}

footer div {
    text-align: left;
}

footer a:nth-child(2) {
    text-align: center;
}

footer a:nth-child(3) {
    text-align: right;
}

.logo-header {
    max-width: 150px;
    height: auto;
}

.items {
    position: relative;
    width: 100%;
    min-height: 450px;
    overflow: hidden;
}

.team {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.6s ease, opacity 0.6s ease, visibility 0.6s;
}

.team.current {
    opacity: 1;
    visibility: visible;
    position: relative;
}